body{
    padding: 0px;
    margin: 0px;
    background-image: url(imagem/back.jpg);
}
header{
    width: 100%;
    height: 210px;
    background-color: black;
    position: fixed;
    margin-top: -220px;
}
footer{
    width: 100%;
    height: 210px;
    background-color:  black;
}
p{
    font-family: cursive;
    font-size: 27px;
    text-align: center;
    margin-top: 25px;
}
/*
.container{
    width: 1300px;
    height: auto;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
*/
#containerMenu{
    width: 1850px;
    height: inherit;
/*    background-color: black;*/
    margin-left: auto;
    margin-right: auto;
    
/*    margin-top: -200px;*/
}
/*CSS DO MENU*/
#logoMenu{
    width: 200px;
    height: 200px;
    background-color: white;
    float: left;
    margin-top: 05px;
    margin-left: 90px;
}
.menuItens{
    width: 130px;
    height: 30px;
    background-color: black;
    float: left;
    margin-left: 45px;
    margin-top: 130px;
    padding-top: 15px;
    text-align: center;
    font-size: 22px;
/*    border: solid 1px black;*/
    border-radius: 05px;
    color: white;
}
.menuItens:hover{
    border-bottom: solid 5px white;
}
.loginMenu{
    width: 160px;
    height: 50px;
/*    background-color: white;*/
    float: left;
    margin-left: 50px;
    margin-top: 115px;
    font-size: 22px;
    color: white;
}
#botaoMenu{
    width: 60px;
    height: 40px;
    background-color: white;
    float: left;
    margin-left: 25px;
    margin-top: 135px;
}
.loginCaixa{
    width: 180px;
    height: 50px;
}
.botaoLogin{
    width: 80px;
    height: 50px;
}
/*CSS DO CONTEUDO*/
#containerAll{
    width: 1550;
    height: 2180px;
    background-color: rgba(255,255,255,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
}
#curiosidade{
    width: 100%;
    height: 2180px;
    float: left;
    background-color: rgba(255,255,255,0.3);
    margin-left: auto;
    margin-right: auto;
}
.imagemRestaurante{
    width: 1000px;
    height: 617px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#curiosidadeTitulo{
    text-shadow: 3px 3px 2px gray;
}
#imagemTexto{
    width: 500px;
    height: 950px;
    background-color: white;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-family: arial;
    font-size: 44px;
    
    text-align: center;
    padding: 15px;
}
/*CSS DO RODAPE*/
#rodape{
    width: 1850px;
    height: 140px;
/*    background-color: black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 03px;
    padding-top: 70px;
}
#catalogoEletronico{
    width:200px;
    height: 70px;
    background-color: white;
    margin-left: 30px;
    margin-right: 300px;
    float: left;
}
#endereco{
    width: 900px;
    height: 70px;
    background-color: white;
    float: left;
    margin-right: 100px;
}
#downloadApp{
    width: 200px;
    height: 70px;
    background-color: white;
    float: left;
}